/.vscode
/1.pdf
/1.py
/1.txt
/2.pdf
/2.txt
/3.pdf
/3.txt
/4.pdf
/4.txt
/5.pdf
/5.txt
/6.pdf
/6.txt
/code
/out_text
/page_1.jpg
/page_2.jpg
/page_3.jpg
/page_4.jpg
/parth.py
/pdf
/pdftocsv.zip
/pdf_txt.py
/pdf_word.py
/Release-22.01.0-0
/sheet
/St_Anthonys_Nsg_Rehab_report_2020.pdf
/txt_find.py
/Untitled-1.py
/word.docx